In [1]:
import model
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Get the traits for the agents
validation_f = 'validation/'
agent1 = pd.read_csv(validation_f+'agent_1.csv')

In [3]:
a1_dict = agent1.to_dict()
a1_dict

{'nf_ent': {0: 0.3},
 'nf_is': {0: 0.2},
 'nf_ko': {0: 0.8},
 'nf_se': {0: 0.8},
 'nf_si': {0: 0.6},
 'pt_con': {0: 0.1}}

In [4]:
#[pt_con, nf_ko, nf_ent, nf_is, nf_si, nf_se, mood]
mood = 0.5
a1_traits = [a1_dict['nf_ko'][0], a1_dict['nf_ent'][0], a1_dict['nf_is'][0], 
             a1_dict['nf_si'][0], a1_dict['nf_se'][0], a1_dict['pt_con'][0], mood]
a1_traits

[0.8, 0.3, 0.2, 0.6, 0.8, 0.1, 0.5]

In [5]:
# Get validation data set
data_a1 = pd.read_csv(validation_f+'validation_agent_1.csv')
data_a1.head()

,cat_con,cat_edu,cat_ent,cat_new,cat_per,msg_com,msg_med,msg_qua,msg_que,msg_rel,msg_sal,msg_sen,like,comment,share
0,0.0,0.0,0.0,1.0,0.0,0.086622,1.0,0.110573,0.0,0.547360,0.950663,0.284114,0,0,0
1,0.0,0.0,0.0,0.0,1.0,0.154028,1.0,0.877695,0.0,0.414179,0.948314,0.524371,0,0,0
2,0.0,0.0,0.0,0.0,1.0,0.742053,0.5,0.954228,1.0,0.301253,0.851439,0.480448,0,0,0
3,0.0,0.0,0.0,0.0,1.0,0.691872,0.0,0.607241,0.0,0.207184,0.786435,0.854840,0,0,0
4,0.0,0.0,1.0,0.0,0.0,0.192039,1.0,0.639193,0.0,0.286320,0.071939,0.405478,0,0,0

In [6]:
messages = data_a1[['cat_per', 'cat_ent', 'cat_new', 'cat_edu', 
                    'cat_con', 'msg_rel', 'msg_qua', 'msg_sen', 
                    'msg_sal', 'msg_med', 'msg_com', 'msg_que']]

In [7]:
reactions = data_a1[['like', 'comment', 'share']]

In [8]:
messages.values

array([[ 0.        ,  0.        ,  1.        , ...,  1.        ,
         0.08662185,  0.        ],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.15402831,  0.        ],
       [ 1.        ,  0.        ,  0.        , ...,  0.5       ,
         0.74205314,  1.        ],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.5       ,
         0.33318419,  0.        ],
       [ 0.        ,  0.        ,  1.        , ...,  0.5       ,
         0.42192085,  0.        ],
       [ 0.        ,  1.        ,  0.        , ...,  0.5       ,
         0.35010898,  0.        ]])

In [9]:
sum_err = 0

In [10]:
# Fitting the empirical data for a1 (reactions)

reactions = reactions.rename(columns=lambda x: x.strip())
reactions['time'] = (reactions.index+1)*20-1

In [11]:
reactions.head()

   like  comment  share  time
0     0        0      0    19
1     0        0      0    39
2     0        0      0    59
3     0        0      0    79
4     0        0      0    99

In [12]:
reactions.index = reactions['time']
reactions = reactions[['like', 'comment', 'share']]

In [13]:
reactions.index

Int64Index([  19,   39,   59,   79,   99,  119,  139,  159,  179,  199,  219,
             239,  259,  279,  299,  319,  339,  359,  379,  399,  419,  439,
             459,  479,  499,  519,  539,  559,  579,  599,  619,  639,  659,
             679,  699,  719,  739,  759,  779,  799,  819,  839,  859,  879,
             899,  919,  939,  959,  979,  999, 1019, 1039, 1059, 1079, 1099,
            1119, 1139, 1159, 1179, 1199, 1219, 1239, 1259, 1279, 1299, 1319,
            1339, 1359, 1379, 1399, 1419, 1439, 1459, 1479, 1499, 1519, 1539,
            1559, 1579, 1599, 1619, 1639, 1659, 1679, 1699, 1719, 1739, 1759,
            1779, 1799, 1819, 1839, 1859, 1879, 1899, 1919, 1939, 1959, 1979,
            1999],
           dtype='int64', name='time')

### Run

In [14]:
# Agent
df1, parameters = model.run_message_sequence(messages.values, a1_traits, title='nb1')

In [15]:
parameters

{'arousal': [0.7, 4],
 'attention_1': [1.2, 2],
 'attention_2': [1.2, 2],
 'dissatisfaction': [0.37, 2],
 'ff_ent': [0.7, 2],
 'ff_is': [0.14, 4],
 'ff_ko': [0.9, 2],
 'ff_se': [1.4, 2],
 'ff_si': [0.7, 4],
 'mood': [0.9, 2],
 'mood_speed': 0.5,
 'prep_comm': [0.37, 2],
 'prep_like': [0.37, 2],
 'prep_share': [0.8, 3],
 'satisfaction': [1.0, 2],
 'srs_sal': [0.7, 2]}

In [16]:
df1[['like', 'share', 'comment']].tail()

         like     share   comment
1995  0.98674  0.996595  0.992569
1996  0.98674  0.996595  0.992569
1997  0.98674  0.996595  0.992569
1998  0.98674  0.996595  0.992569
1999  0.98674  0.996595  0.992569

In [17]:
df1.index = df1.index.astype(int)

In [18]:
dfpoints1 = df1[['like', 'share', 'comment']].iloc[reactions.index]

In [19]:
#dfpoints1.index.name = 'time'
dfpoints1.head()

        like     share   comment
19  0.988107  0.997110  0.987587
39  0.989025  0.997440  0.987204
59  0.988167  0.997132  0.999459
79  0.994074  0.998988  0.995419
99  0.989712  0.997677  0.989775

In [20]:
reactions.head()

      like  comment  share
time
19       0        0      0
39       0        0      0
59       0        0      0
79       0        0      0
99       0        0      0

In [21]:
(abs(dfpoints1-reactions)).sum().sum()

275.52532661370134

In [22]:
((dfpoints1-reactions)**2).sum().sum()

273.78577231660813

In [23]:
sum_err = sum_err + ((dfpoints1-reactions)**2).sum().sum()

In [24]:
sum_err

273.78577231660813

In [25]:
dfpoints1-reactions

       comment      like     share
19    0.987587  0.988107  0.997110
39    0.987204  0.989025  0.997440
59    0.999459  0.988167  0.997132
79    0.995419  0.994074  0.998988
99    0.989775  0.989712  0.997677
119   0.999302  0.988614  0.997294
139   0.998761  0.986578  0.996532
159   0.999712 -0.013152  0.996636
179   0.994400  0.986840  0.996633
199   0.997740  0.988032  0.997083
219   0.999263 -0.003485  0.999544
239   0.999378  0.993528  0.998844
259   0.997509  0.986028  0.996315
279   0.996740  0.988610  0.997293
299   0.999369  0.987227  0.996782
319   0.997549 -0.004149 -0.000592
339   0.997615  0.988964  0.997418
359   0.998997  0.993490  0.998834
379   0.992117  0.989614  0.997644
399   0.995464  0.986207  0.996386
419   0.999330  0.990228  0.997851
439   0.997647  0.986247  0.996402
459   0.998323  0.995140  0.999249
479   0.991823  0.987130  0.996745
499   0.996007  0.991911  0.998383
519   0.999333  0.994580  0.999115
539   0.987851  0.989876  0.997733
559  -0.002514 -0.003819 -0.000523
579   0.999400  0.983409  0.995224
599   0.997504 -0.009855 -0.002177
...        ...       ...       ...
1419  0.992020  0.986581  0.996533
1439  0.996802  0.985265  0.996007
1459  0.991603  0.996191  0.999479
1479  0.994247  0.986728  0.996590
1499  0.995301  0.987323  0.996818
1519  0.998885  0.989873  0.997732
1539  0.993642 -0.013941 -0.003673
1559  0.996479  0.993915  0.998947
1579  0.999686  0.986210  0.996387
1599  0.997041  0.990619  0.997979
1619  0.988645  0.993266  0.998773
1639  0.995756  0.982163  0.994672
1659  0.998458 -0.014121  0.996256
1679  0.999596  0.989491  0.997602
1699  0.991744  0.992425  0.998536
1719  0.997286  0.986636  0.996554
1739  0.994015  0.994022  0.998975
1759  0.988989  0.993268  0.998774
1779  0.999560  0.990249  0.997858
1799 -0.000388 -0.015627  0.995637
1819  0.992716  0.991483  0.998253
1839  0.998825  0.993041  0.998711
1859  0.992828  0.989074  0.997457
1879 -0.005899 -0.004543  0.999322
1899  0.988113 -0.004663  0.999294
1919  0.990020  0.995294  0.999285
1939  0.997320  0.993451  0.998824
1959  0.992338  0.986417  0.996469
1979  0.993527  0.987096  0.996732
1999  0.992569  0.986740  0.996595

[100 rows x 3 columns]